<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:fragment="header">
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />

    <style>
      .slider .indicators .indicator-item.active {
        background-color: #dd2c00;
      }

      .btn-login {
        color: #dd2c00;
        background-color: white;
      }
      .btn-login:hover {
        color: white;
        background-color: #dd2c00;
      }
      .btn-login-sidenav {
        color: white;
        background-color: #dd2c00;
      }
      .btn-login-sidenav:hover {
        color: #dd2c00 !important;
        background-color: white !important;
      }
    </style>
</head>
<body>
<div >
<nav>
    <div class="nav-wrapper deep-orange accent-4">
        <a th:href="@{/}" class="brand-logo">Le2Torri</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li><a th:href="@{/storia}">Storia</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/calendar}">Calendario</a></li>
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/validate/account}">Pannello Admin</a></li>
            <li>
                <a sec:authorize="!(isAuthenticated())"
                   class="waves-effect waves-light btn btn-login"
                   th:href="@{/login}"
                ><i class="material-icons right">vpn_key</i>Accedi</a
                >
                <a sec:authorize="isAuthenticated()" th:href="@{/user/info}">
                    <img  class="circle responsive-img"
                         th:src="@{images/empty_avatar.png}"/>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">
                    <i class="material-icons">exit_to_app</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="#" th:href="@{/}">Home</a></li>
    <li><a th:href="@{/storia}">Storia</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/calendar}">Calendario</a></li>
    <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/validate/account}">Pannello Admin</a></li>
    <li>
        <a sec:authorize="!(isAuthenticated())"
           class="waves-effect waves-light btn btn-login-sidenav"
           th:href="@{/login}"
        ><i class="material-icons right">vpn_key</i>Accedi</a
        >
        <a sec:authorize="isAuthenticated()" th:href="@{/user/info}">
            <img  class="circle responsive-img"
                  th:src="@{images/empty_avatar.png}"/>
        </a>
    </li>
    <li sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">
            <i class="material-icons">exit_to_app</i>
        </a>
    </li>
</ul>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
</div>
</body>
</html>